<%- include('../partials/header') %>
	<div class="wrapper">
		<div class="container">
			<div class="card" style="margin-top:-10em;">
				<div class="card-body">
					<div class="input-group mb-3">
						<span class="input-group-text"></span>
						<input type="text" class="form-control" placeholder="Enter search text" id="search">
					</div>
					<button class="btn btn-outline-primary" id="searchButton">Search</button>
				</div>
			</div>
			<div class="output" id="output" style="margin-top:4em;"></div>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Review</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="reviewForm" action="/addReview" method="post">
						<div class="mb-3">
							<label for="show" class="form-label">show name</label>
							<input type="show" class="form-control" id="show" name="show" readonly>
						</div>
						<div class="mb-3">
							<label for="review" class="form-label">Enter your review here</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" id="review"
								name="review"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button class="btn btn-primary" type="submit" form="reviewForm">Submit Review</button>
				</div>
			</div>
		</div>
	</div>
	<%- include('../partials/footer') %>